.wrapper {
    position: relative;
    width: 56.4px;
    height: 76.8px;
    border: 1px solid var(--soft-white);
    border-radius: 3px;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 56.4px;
    height: 76.8px;
}

.status {
    position: absolute;
    top: 50%;
    left: 50%;
}

.score {
    position: absolute;
    top: 70px;
    left: 14px;
    width: 27px;
    text-align: center;
}
