.mask {
    position: fixed;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1000;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
}

.button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--soft-white);
    border-radius: 50%;
    cursor: pointer;
}
