.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--soft-white);
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.45);
}
