.layout {
  background: center / cover no-repeat url(../../assets/bg.jpg);
  background-attachment: fixed;
  padding: 20px 50px;
}

.footer {
    background-color: #001529;
    color: rgba(255, 255, 255, 0.65);
}