.field {
    width: 800px;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

@media (max-width: 900px) {
    .field {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 700px) {
    .field {
        width: 400px;
        height: 350px;
    }
}
