.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: var(--soft-white);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.45);
}
